[user]
	name = Dannis
	email = hzzhanyuyang@gmail.com

[alias]
st = status -sb
co = checkout
br = branch
mg = merge
cm = commit
cmm = commit -m
ds = diff --staged
dt = difftool -y
mt = mergetool
last = log -1 HEAD
latest = for-each-ref --sort=-committerdate --format=\"%(committername)@%(refname:short) [%(committerdate:short)] %(contents)\"
type = cat-file -t
dump = cat-file -p
pr = pull --rebase
sw = switch 
rb = rebase
rbi = rebase -i
